language: python
sudo: false
python:
  - "3.4"

install:
  - make install
  - ./env/bin/pip install coveralls

script:
  - make checkstyle
  - make test

after_success:
  - ./env/bin/coveralls

deploy:
- provider: pypi
  user: marvinpinto
  password:
    secure: etI6uS3Ercc5X4lHYMgoqzdecFBYuwibn7PmtmDFG9573A+r6QldIqfkn5PrDOJGm0Y0PNp7cxGutZ/+4KsyiH9zKr2p1M83Gpuloc8L1ZFxPSzlJQsLK1xaiMT8YbvR9ThLO+ua42Zx3AcFcGANpbeWqYdZ6ELEcWd/a0EkG7RFbhWg99ypaOVQCtap3Wfm88bv0Y586YbmB6r//f3HOvW3VX9ID5BQxVo7NCvqjKsygdqix0bq4wjLQoWohlw4W04ldN7Pba8+uAD+6G7sLit8J1FZQOe6n8t/qhndIBYU7v/jp3KJJMxuEWFfaJ5+gf+d+Ypx56v1e1po+bQ2bEDstjigNhVI4vzSwa4ksUQnr7BggtIO94BzrLNCpYvEJjsKoAjrYSrLbmtUYhW8y13YprW+bJiTFYJQpq1Ly9hZPCaDQ7yfs0kbsaax5XBc5MsT3VD6kq/EwCr3z0ZOidN3QJCts+bPZlH5cC7XnifOiIwySMu/C5DFmuqHffOZ+2vYfKutDUcX2PvbPnvv9P2yINfrAtBAsqeYf1r0jy3TeThASpClvdRstQQCpdrAxKR3L8l23wdjq+SES5O1RNp05K1XMe2oDgycG7epCTIKLYAeb9Ak0Trmkc34CXeEUClI9SXbGfHqdOsMLBgooj1bTTjDOXKtDfk+Y85kwis=
  on:
    tags: true
    repo: marvinpinto/charlesbot

notifications:
  email: false
  irc:
    - secure: "Y5ZXefNfyouSSCyD+A6zi9LFJz/+L0NH7W9woUo4D2/Ee2KOPE7yIhe/WaYFeigxqFusWOntDIJA5qEyCGBCOldePbtKQuKlekWehkq1i5LLfeAu5FmRQU2wVzME957KyKzC8pARcExSqVaZWW5fvUI5VVCGbrp1iJhzzsPEMZ4SfYQpahdbIFTHPkM851FqMYPSUvDducIwE40aaoabwmS0pNPgZ0DMl1cUf5gGeWSYyWtO9Hj/iS9QgCKa2XRUhQ2Dy1sShBnu3Wloc+gQJU+k7a0yKI7aDp2qGUdi3L1MDTIZZ4CQ9KEyXD8Zj3nG/X6j69EO5s7ext/La9NFroZvf6updgAtZXi/Ug01nFqviQ7MvKN/YmCVs+9tMjzB8I9DKZpHbK9RYxpHa4dvDWmdzyPtirouLLgtLyUtYuvh8AFZAF02HYeka7AJ8uCoPAO0K5QfrR1eM9Ag7tKsy29MtQ2lvAuR3zh73jA8Aqiw1bbLypSxIovijufOyz+7VHyEIGvcnlZwllGiUacdsLFog4rBws8Fm8r54VjDJkwXmzO6DDSfmOG+N5EfMV+FO7+V+dn2Xuy97bHH6/Almqq5jEBaB8niw1njR6HLLbFl99vzQErLpKSWiBE7tQ/0AtZqSxBLqWgYSi9gG3bYHLZ9+o1ijwEMrwLt0NIUysM="
