main:
  slackbot_token: 'xoxb-...'
  enabled_plugins:
    - 'charlesbot.plugins.broadcast_message.BroadcastMessage'
    - 'charlesbot.plugins.help_plugin.Help'
    - 'charlesbot.plugins.jira.jira.Jira'

jira:
  base_url: 'https://jira.atlassian.com'
