[loggers]
keys=root

[handlers]
keys=console

[formatters]
keys=console

[logger_root]
level=INFO
handlers=console

[handler_console]
class = StreamHandler
args = (sys.stderr,)
level = NOTSET
formatter = console

[formatter_console]
format=%(asctime)s localhost charlesbot[%(process)d]: 5000 %(levelname)s [%(name)s:%(lineno)d] %(message)s

[formatter_syslog]
format = charlesbot[%(process)d]: 5000 %(levelname)-5.5s [%(name)s:%(lineno)d] %(message)s
