-r requirements.txt

Babel==2.1.1
Jinja2==2.8
MarkupSafe==0.23
Pygments==2.0.2
Sphinx==1.3.6
alabaster==0.7.7
asynctest==0.4.0
bumpversion==0.5.3
coverage==3.7.1
docutils==0.12
flake8==2.4.1
guzzle-sphinx-theme==0.7.11
mccabe==0.3.1
nose==1.3.7
pep8==1.5.7
pyflakes==0.8.1
pytz==2015.7
six==1.10.0
snowballstemmer==1.2.0
sphinx-rtd-theme==0.1.9
